<a href="https://colab.research.google.com/github/rcarissa/class-materials/blob/main/Map_Reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import os

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
os.chdir("/content/drive/My Drive/AirlineInfo")

In [7]:
ls

data.csv          raw_1992.csv.bz2  raw_1998.csv.bz2  raw_2004.csv.bz2
raw_1987.csv.bz2  raw_1993.csv.bz2  raw_1999.csv.bz2  raw_2005.csv.bz2
raw_1988.csv.bz2  raw_1994.csv.bz2  raw_2000.csv.bz2  raw_2006.csv.bz2
raw_1989.csv.bz2  raw_1995.csv.bz2  raw_2001.csv.bz2  raw_2007.csv.bz2
raw_1990.csv.bz2  raw_1996.csv.bz2  raw_2002.csv.bz2  raw_2008.csv.bz2
raw_1991.csv.bz2  raw_1997.csv.bz2  raw_2003.csv.bz2

In [16]:
from pathlib import Path

data_folder = Path('/content/drive/MyDrive/AirlineInfo')
data_files = sorted(data_folder.glob('*.csv.bz2'))

from concurrent.futures import ProcessPoolExecutor
from functools import partial, reduce
from itertools import groupby
from multiprocessing import Pool, Process
from pathlib import Path

import numpy as np
import pandas as pd

import helper

In [10]:
df1 = helper.read_airline_files(data_files = data_files[1:8], num_of_files=8, processing='thread')
df2 = helper.read_airline_files(data_files = data_files[8:16], num_of_files=8, processing='thread')
df2 = helper.read_airline_files(data_files = data_files[16:22], num_of_files=8, processing='thread')
final_df = pd.concat([df1, df2, df3], axis=0)

AttributeError: ignored

In [12]:
from logging import getLogger
from multiprocessing import Pool
from pathlib import Path

read_airline_files(data_files,1)

NameError: ignored

In [13]:
import pandas as pd

pd.read_csv(
    filepath_or_buffer='/content/drive/My Drive/AirlineInfo/raw_1987.csv.bz2',
    compression='bz2',
    encoding='ISO-8859-1',
    engine='c',
    low_memory=False,
)

         Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0        1987     10          14  ...       NaN            NaN                NaN
1        1987     10          15  ...       NaN            NaN                NaN
2        1987     10          17  ...       NaN            NaN                NaN
3        1987     10          18  ...       NaN            NaN                NaN
4        1987     10          19  ...       NaN            NaN                NaN
...       ...    ...         ...  ...       ...            ...                ...
1311821  1987     12          11  ...       NaN            NaN                NaN
1311822  1987     12          13  ...       NaN            NaN                NaN
1311823  1987     12          14  ...       NaN            NaN                NaN
1311824  1987     12           1  ...       NaN            NaN                NaN
1311825  1987     12           2  ...       NaN            NaN                NaN

[1311826 rows x 29 columns]

In [14]:
from logging import getLogger
from multiprocessing import Pool
from pathlib import Path

from . import data_helpers

logger = getLogger(__name__)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-2fbb3620d5bf>", line 5, in <module>
    from . import data_helpers
ImportError: attempted relative import with no known parent package

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

ImportError: ignored

In [ ]:
def count_mapper(input_file):
  
  input_file = Path(input_file)
  output_file = Path(f'temp/count_mapper_{input_file.stem}')

  df = data_helpers.read_airline_dataframe(data_file=input_file)

  df2 = pd.DataFrame()
  df2['UniqueCarrier'] = df. UniqueCarrier
  df2['Count'] = 1
  df2.to_csv(output_file, header=True, index=False)
  return output_file

In [19]:
def count_sorter(map_files, sort_file):

  df = data_helpers.read_csv_with_multiprocessing(map_files)
  df.sort_values(by='UniqueCarrier', inplace=True)
  df.to_csv(sort_file), header=True, index=False)

SyntaxError: ignored

In [17]:
def count_reducer(sort_file):

  df = pd.read_csv(sort_file)
  result = df.groupby('UniqueCarrier').count()
  return result.sort_index()

In [18]:
def count_airline_flights(data_files):

  logger.info('started')
  with Pool() as pool:
    count_mapper_files = pool.starmap(
        count_mapper, data_files, chunksize=4)
  logger.info('completed mapping')

  count_sorter(count_mapper_files, 'temp/sort_ones.csv')
  logger.info('completed sorting')

  df = count_reducer('temp/sort_ones.csv')
  logger.info('completed reducing')

  return df